html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px sans-serif;
  *font-size: small;
  *font: x-small;
  line-height: 1.22; }

table {
  font-size: inherit;
  font: 100%; }

select, input, textarea {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility; }

html {
  -webkit-font-smoothing: antialiased; }

a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ul {
  margin-left: 30px; }

ol {
  margin-left: 30px;
  list-style-type: decimal; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

html {
  overflow-y: scroll; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

@media screen and (max-width: 319px) {
  .unit {
    float: none !important;
    width: auto !important; } }

.line:after, .lastUnit:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "; }

.line {
  *zoom: 1; }

.unit {
  float: left; }

.size1of1 {
  float: none; }

.size1of2 {
  width: 50%; }

.size1of3 {
  width: 33.33333%; }

.size2of3 {
  width: 66.66666%; }

.size1of4 {
  width: 25%; }

.size3of4 {
  width: 75%; }

.size1of5 {
  width: 20%; }

.size2of5 {
  width: 40%; }

.size3of5 {
  width: 60%; }

.size4of5 {
  width: 80%; }

.lastUnit {
  display: table-cell;
  float: none;
  width: auto;
  *display: block;
  *zoom: 1;
  _position: relative;
  _left: -3px;
  _margin-right: -3px; }

body {
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
  background: url(/images/backgrounds/grass.gif); }

button {
  border: 0 none; }

.awesome, .awesome:visited {
  background: #222222 url(/images/buttons/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer; }

.awesome:hover {
  background-color: #111;
  color: #fff; }

.awesome:active {
  top: 1px; }

.small.awesome, .small.awesome:visited {
  font-size: 11px;
  padding: inherit; }

.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); }

.large.awesome, .large.awesome:visited {
  font-size: 14px;
  padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited {
  background-color: #91bd09; }

.green.awesome:hover {
  background-color: #749a02; }

.blue.awesome, .blue.awesome:visited {
  background-color: #2daebf; }

.blue.awesome:hover {
  background-color: #007d9a; }

.red.awesome, .red.awesome:visited {
  background-color: #e33100; }

.red.awesome:hover {
  background-color: #872300; }

.magenta.awesome, .magenta.awesome:visited {
  background-color: #a9014b; }

.magenta.awesome:hover {
  background-color: #630030; }

.orange.awesome, .orange.awesome:visited {
  background-color: #ff5c00; }

.orange.awesome:hover {
  background-color: #d45500; }

.yellow.awesome, .yellow.awesome:visited {
  background-color: #ffb515; }

.yellow.awesome:hover {
  background-color: #fc9200; }



#container {
  width: 500px;
  margin: 0 auto;
  position: relative;
  background: #444;
  border: 1px solid #000;
  color: #fff;
  padding: 15px;
  
  box-shadow: 1px 1px 35px rgba(0,0,0,1);
  -moz-box-shadow: 1px 1px 35px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 1px 35px rgba(0,0,0,1);
}

#main {
  margin: 15px 0;
}


ul {
    margin-top: 20px;
    position: relative;
    display: block;
}
ul li {
  display: inline;
  list-style: none;
}

#status {
  margin: 15px;
}
#status img {
  display: none;
  margin-top: 15px;
}
#status img.on {
  display: block;
}